<link rel="stylesheet" href="/landing-page.css" />
<link rel="stylesheet" href="/landing-page-mobile.css" />
<script src="landing-page.js"></script>
<!-- section 1 - what's evote for -->
<section id="section-1">
  <div id="evote">
    <p>What eVote is for?</p>
    <h2>Electronic Voting</h2>
    <p>Built for you to be able to vote from the confort of your home.</p>
    <div id="no-more">
      <p>
        <img src="<%= '/images/x-vector.png' %>" alt="" />No More
        <span class="no-more-words">LONG QUEUE</span>
      </p>
      <p>
        <img src="<%= '/images/x-vector.png' %>" alt="" />No More
        <span class="no-more-words">INSECURITY</span>
      </p>
      <p>
        <img src="<%= '/images/x-vector.png' %>" alt="" />No More
        <span class="no-more-words">BRIBERY AND CORRUPTION</span>
      </p>
    </div>
  </div>
  <div id="mw-img">
    <img src="<%= '/images/man-woman-joy.png' %>" alt="" />
  </div>
</section>

<!-- section 2 - powerful voting platform -->
<section id="section-2">
  <div id="top-section">
    <div id="image">
      <img src="<%= '/images/pc-mobile-img.png' %>" alt="" />
    </div>
    <div id="content">
      <h2>Powerful Voting Platform</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Adipiscing lacus eget odio ut
        faucibus at ornare. Pulvinar arcu et dui turpis quis. Dignissim ornare
        sed eget tincidunt cras tellus etiam.Lorem ipsum dolor sit amet
        consectetur. Adipiscing lacus eget odio ut faucibus at ornare. Pulvinar
        arcu et dui turpis quis. Dignissim ornare sed eget tincidunt cras tellus
        etiam.
      </p>
    </div>
  </div>

  <div id="bottom-section">
    <span>'</span>
    <p>
      Voting is the expression of our commitment to ourselves, one another, this
      country, and this world.
    </p>
    <blockquote>Sharon Salzberg</blockquote>
  </div>
</section>

<!-- section 3 - Eye -->
<section id="section-3">
  <p>have an eye in the Election Process with eVote</p>
  <button>Vote Now</button>
</section>

<!-- section 4 - FAQs -->
<section id="section-4">
  <div id="faqs-top">
    <h2>FAQs</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum vel
      ligula adipiscing duis duis urna, condimentum sem.
    </p>
  </div>

  <div id="faqs-bottom">
    <div id="faq" class="faq">
      <div id="label" class="label">
        <p>How can I Vote on the Platform?</p>
        <img src="<%= '/images/plus-vector.png' %>" alt="" />
      </div>
      <div id="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <div id="faq" class="faq">
      <div id="label" class="label">
        <p>How to Verify my Identity?</p>
        <img src="<%= '/images/plus-vector.png' %>" alt="" />
      </div>
      <div id="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. .</p>
      </div>
    </div>

    <div id="faq" class="faq">
      <div id="label" class="label">
        <p>Can I call for a Medic?</p>
        <img src="<%= '/images/plus-vector.png' %>" alt="" />
      </div>
      <div id="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <div id="faq" class="faq">
      <div id="label" class="label">
        <p>Can one person have two accounts?</p>
        <img src="<%= '/images/plus-vector.png' %>" alt="" />
      </div>
      <div id="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <div id="faq" class="faq">
      <div id="label" class="label">
        <p>Can I vote for my mom?</p>
        <img src="<%= '/images/plus-vector.png' %>" alt="" />
      </div>
      <div id="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</section>
